<html>
  <style>
    a#submit {
      border: 1px solid white;
      background-color: #001234;
      color: white;
      padding: 5px;
    }
  </style>
  <head>
    <title>Approve Requests</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/less.js"></script>
    <script src="/js/master.js"></script>
  </head>
  <body>
    <div id="floater">
      <div id="login" class="mainbody">
        Password: <input type="password" id="password" />
        <a href="#" id="submit">Submit</a>
      </div>
      <div hidden id="admin_panel" class="mainbody">

      </div>

    </div>
  </body>
</html>

<script>
  $("#submit").click(function(){
    $.post("/admin_panel", { "pw" : $("#password").val() }, function(result){
      if(result == "badpw"){
        alert("bad password");
      }
      else{
        $("#admin_panel").html(result);
        $("#login").hide();
        $("#admin_panel").show('slow');
      }
    });
  });
</script>
