<!DOCTYPE html>
<html>
  <head lang="en" xml:lang="en">
    <title>Approve Requests</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/less.js"></script>
    <script src="/js/master.js"></script>
  </head>
  <body>
    <div id="floater">
      <div class="mainbody">
        <h3 class="pagetitle">Admin</h3>
        <div id="login" style="text-align: center;">
          Password: <input type="password" id="password" />
          <a href="#" id="submit">Submit</a>
        </div>
      </div>
      <div hidden id="admin_panel" class="mainbody"> </div>
    </div>

    <script>
      $(document).ready(function(){
        $("#password").focus();
      });
      $("#submit").click(function(){
        $.post("/admin_panel", { "pw" : $("#password").val() }, function(result){
          if(result == "badpw"){
            alert("bad password");
          }
          else{
            $("#admin_panel").html(result);
            $("#login").hide();
            $("#admin_panel").show('slow');
          }
        });
      });
    </script>
  </body>
</html>
