<html>
  <head>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <title>SMS to Spreadsheet - RHoK</title>
  </head>
  <body>
    <h3 class="pagetitle">SMS to Spreadsheet</h3>
    <p>This service is for the Peace Corps Innovation Challenge, initially developed for RHoK in RIT. If you have no idea what that means, you probably came here by accident!</p>
    <p>If you would like to have the latest ledger emailed to you, click 'Request a CSV' below! To request to be added to the white list of users, you can register by clicking 'Add yourself to the system.'</p>
    <table>
      <tr>
        <td class="index">
          <a href="/email">Request a CSV</a>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td class="index">
          <a href="/register">Add yourself to the system</a>
        </td>
      </tr>
    </table>
  </body>
</html>

