/*
 * Glocal Values
 */
body {
  font-family: sans-serif;
  background: #146;
  margin: 5%;
}
a {
  text-decoration: none;
  color: #146;
}
a:hover{
  text-decoration: underline;
  color: #024;
}

/*
 * Main container divs
 */


div.mainbody {
  background-color: #eee;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #aaa;         
  border-top-right-radius: 8px;   
  border-top-left-radius: 8px;    
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; 
}

div#floater {
  height: 60%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/*
 * Defauls for all tables
 */
table {
  margin-left: auto;
  margin-right:auto;
}
td.index {
  text-align: center;
  padding: 5px;
  background-color: #ccc;
}
td.index:hover {
  background-color: #fff;
}
.pagetitle {
  text-align: center;
}


/*
 * Styles for the Admin page
 */

.admin_tbl {
  border-collapse: collapse;
}
.admin_tbl tr{
  border-top: 1px solid #bbb;
}
.admin_tbl td {
  padding: 6px;
}
.admin_row:hover {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.odd_row {
  background-color: #eee;
}

.even_row {
  background-color: #ddd;
}

a#approve, a#deny {
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;
}
a#approve:hover {
  text-decoration: none;
  background-color: #efc;
}

a#deny:hover {
  text-decoration: none;
  background-color: #fec;
}
a#submit {
  border: 1px solid white;
  background-color: #001234;
  color: white;
  padding: 5px;
}
