body {
  font-family: sans-serif;
  background: #efefef;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
a {
  text-decoration: none;
  color: #0033ff;
}
a:hover{
  text-decoration: underline;
  color: #000066
}
table {
  margin-left: auto;
  margin-right:auto;
}
td.index {
  text-align: center;
  padding: 5px;
  background-color: #ccc;
}
td.index:hover {
  background-color: #fff;
}
.pagetitle {
  text-align: center;
}
